:host{
  font-size: x-large;
  background-color: white;
  border: 1px solid black;
  color: blue;
  width: 100px;
  border-radius: 5px;
  text-align: center;
  padding: 10PX;;
}

:host.success {
    background-color: green;
}
